<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>working</title>
</head>
<body>
    <h1>Welcome</h1>
    <form action="/analyzed">
        <textarea name="text" id="textarea1" cols="30" rows="10" style="margin: 0px; width: 1468px; height: 174px;"></textarea><br>
        <input type="checkbox" name="removepunc_checkbox">Punctuation Remove</input><br>
        <input type="checkbox" name="fullcaps_checkbox">Upper Case</input><br>
        <input type="checkbox" name="removeline_checkbox">Remove new line</input><br>
        <input type="checkbox" name="removeextraspace_checkbox">Extraspace Remover</input><br>
        <input type="checkbox" name="charactercount_checkbox">Count Character</input><br>
    <button type="submit">Analyze Text</button>
    
    </form>
</body>
</html>